<body class="edit-body">
<h1 class="titulo-edit">Editing </h1>

<%= render "form", cfcpost: @cfcpost %>

<br>

<div>
  <%= link_to "Show ", @cfcpost %> |
  <%= link_to "Back", cfcposts_path %>
</div>
</body>
