<div id="<%= dom_id cfccomment %>">
  <p>
    <strong>Content:</strong>
    <%= cfccomment.content %>
  </p>

  <p>
    <strong>Cfcpost:</strong>
    <%= cfccomment.cfcpost_id %>
  </p>

  <p>
    <strong>Cfcuser:</strong>
    <%= cfccomment.cfcuser_id %>
  </p>

</div>
