<h1>Editing cfcreaction</h1>

<%= render "form", cfcreaction: @cfcreaction %>

<br>

<div>
  <%= link_to "Show this cfcreaction", @cfcreaction %> |
  <%= link_to "Back to cfcreactions", cfcreactions_path %>
</div>
