<div class="home">

    <% @posts.each do |post| %>
      <div class="card mb-3 tarjeta" style="max-width: 1200px;">
        <div class="row g-0 tarjeta2">
          <div class="col-md-4">
            <%= image_tag post.photo, class: "img-fluid rounded-start foto" %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= post.title %></h5>
              <p class="card-text"><%= post.description %></p>
              <p><%= link_to "VER POST", post, class:"link" %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>